@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
        h1, h2, h3, h4, h5, h6 {
    color: red; text-transform: capitalize;
   font-family: "Times New Roman", Times, sans-serif;} 
   q{font-family: 'Indie Flower', cursive}
article {width:75%;margin: 0 auto}

body{
           background-image: url("https://cdn.freelance.ru/img/portfolio/pics/00/2B/64/2843833.jpg");
       }


   .text *{background-color:white}
   
   cite {<link href="style.css" rel="stylesheet">}
